@font-face {
	font-family: Acrom-bold;
	src: url(../fonts/acrom800.otf);
}

@font-face {
	font-family: Acrom;
	src: url(../fonts/acrom400.otf);
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Acrom;
}

header {
	min-height: 750px;
	background: url(../img/header_bg.png) no-repeat;
	background-size: cover;
}

.top-line {
	display: flex;
	justify-content: center;

	min-height: 165px;
	width: 100%;
	padding: 40px 0;
	margin: 0 auto;

	background: rgba(3, 4, 5, .5);	
}

.logo {
	margin-top: 55px;
	margin-right: 460px;
}

.phone {
	margin-top: 43px;
	margin-bottom: 47px;
	font-size: 23px;
	color: #fff;
}

.blue-button {
	border: 2px solid #0480b1;
	border-radius: 20px;

	font-size: 9px;
	color: #fff;
	text-decoration: none;
}

.callback {
	margin: 65px 0 67px 30px;
	padding: 10px 5px;
}

.header-content {
	margin-top: 85px;
	text-align: center;
}

.header-content  h1 {
	margin-bottom: 45px;
	font-family: Acrom-bold;
	font-size: 37px;
	color: #fff;
}

.header-content  p {
	margin-bottom: 80px;
	font-size: 19px;
	color: #02a0de;
}

.registration {
	padding: 17px 10px;
	margin-bottom: 40px;

	border-radius: 10px;

	display: inline-block;
	font-size: 10px;
	color: #fff;
	text-decoration: none;
	background-color: #ee6e22;
	cursor: pointer;
}

.callnum {
	margin-bottom: 130px;
	display: inline-block;
}

.callnum img {
	vertical-align: middle;
	padding-left: 15px;
}

.callnum span {
	vertical-align: middle;
	padding: 13px 10px;
	display: inline-block;
}

.divider {
	height: 85px;
	background: #ee6e22;
}

.main-content {
	display: flex;
	justify-content: center;
	margin: 40px 0 92px 0;
}

.main-content img {
	margin-right: 102px;
}

.main-content h2 {
	padding-bottom: 50px;

	font-family: Acrom-bold;
	font-size: 42px;
	font-weight: bold;
	color: #231f20;	
}

.program-list {
	padding: 0;
	margin-left: 35px;

	font-size: 24px;
	line-height: 50px;
	color: #231f20;
}

.program-item span {
	font-family: Acrom-bold;
	font-size: 24px;
	color: #00aaeb;
}

.review {
	display: flex;
	justify-content: center;

	padding-top: 162px;
	padding-bottom: 170px;

	background: url(../img/footer_bg.jpg) no-repeat;
	background-size: cover;
}

.review img {
	margin-right: 100px;
	margin-left: 174px;
	border-radius: 100%;
}

.description h3 {
	margin-bottom: 40px;
	font-family: Acrom-bold;
	font-size: 35px;
	color: #00a9ea;
}

.description p {
	max-width: 515px;

	font-size: 19px;
	line-height: 26px;
	color: #fff;
}

footer {
	min-height: 320px;
	background-image: url(../img/footer_bg.jpg);
	background-size: cover;
}

.footer-content {
	display: flex;
	justify-content: center;

	width: 100%;
	background: rgba(2, 3, 6, .5);
}

.footer-content img {
	margin-top: 145px;
}

.footer-content .registration {
	margin: 145px 110px 130px 110px;
	border: none;
	outline-style: none;
}

.input-list {
	margin-top: 85px;
}

.input-list p {
	color: #fff;
	font-size: 11px;
}

.input-list label {
	display: inline-block;
	width: 100px;
}

.input-list input {
	padding: 0 15px;
	outline-style: none;
	background: none;
	height: 30px;
	max-width: 325px;
	margin-bottom: 25px;
	font-size: 14px;
}

@media screen and (max-width: 1050px) {
	.logo {
		margin-right: 100px;
	}

	footer .registration {
		margin-right: 50px;
		margin-left: 50px;
	}

}

@media screen and (max-width: 920px) {
	.review {
		flex-direction: column;
		align-items: center;
	}

	.review img {
		margin-bottom: 50px;
	}

	.review .description {
		text-align: center;
		margin-left: 70px;
	}

	.review .description p {
		text-align: center;
	}

	.footer-content {
		flex-direction: column;
		align-items: center;
	}

	.footer-content img {
		margin-top: 50px;
	}

	.footer-content .registration {
		margin-top: 50px;
	}

	.input-list {
		margin-top: -50px;
	}
}

@media screen and (max-width: 700px) {
	.top-line {
		flex-direction: column;
		align-items: center;
	}

	.logo {
		margin-left: 100px;
	}

	.main-content {
		flex-direction: column;
		align-items: center;
	}

	.main-content h2 {
		margin-top: 50px;
	}

}